*{
    padding: 0px;
    margin:0px ;

}

body{
    font-family: Arial, Helvetica, sans-serif;
   /* background: url(IMAGENS/END\ VIDEO.png);*/
    background-size:100%;
    
}

main{
padding-top: 20px;
display: flex;
flex-direction: column;
gap: 15px;
align-items: center;
}

video{
  display: flex;
  flex-direction: column;  
    
}

.menu-barra-de-navegacao{
    background-color: rgb(0, 0, 0);
    height: 100%;
    width: 350px;
    left: -350px;
    position: absolute;
    transition: all .5s;
    display:flex;
    align-items: center;
}

input[type="checkbox"]:checked ~ nav{
    transform:translateX(350px) ;
}

.menu-barra-de-navegacao ul{
    list-style: none;
    top: 60px;
    position: absolute;
    width: 100%;
   
    
}

#menu-barra-de-navegacao ul li{
    float: left;
    
}

.menu-barra-de-navegacao ul li{
    background-color: rgb(0, 0, 0);
    display:block;
    padding: 20px 5px;
    color: aliceblue;
    transition:background, 2s;
    text-decoration: none;
    color: rgb(249, 249, 249);
}

.menu-barra-de-navegacao ul li:hover{
    background-color: whitesmoke;
    color: rgb(248, 245, 245);
}


label{
    padding: 15px;
    position: absolute;
    z-index: 1;
}

img{
    width: 110px;
}

input[type="checkbox"]
{
    display: none;
}

