*{
    padding: 0px;
    margin:0px ;

}

body{
    font-family: Arial, Helvetica, sans-serif;
   /* background: url(IMAGENS/END\ VIDEO.png);*/
    background-size:100%;
    
}

main{
text-align: center;
}

nav{
    background-color: rgb(0, 0, 0);
    height: 100%;
    width: 350px;
    left: -350px;
    position: absolute;
    transition: all .5s;
}

input[type="checkbox"]:checked ~ nav{
    transform:translateX(350px) ;
}

ul{
    list-style: none;
    top: 60px;
    position: absolute;
    width: 100%;
}

a{
    background-color: rgb(16, 10, 10);
    display:block;
    padding: 20px 5px;
    color: aliceblue;
    transition:background, 2s;
    text-decoration: none;
    color: rgb(249, 249, 249);
}

a:hover{
    background-color: whitesmoke;
    color: rgb(248, 245, 245);
}


label{
    padding: 15px;
    position: absolute;
    z-index: 1;
}

img{
    width: 100px;
}

input[type="checkbox"]
{
    display: none;
}
